
<ion-header class="ion-no-border">

  <ion-toolbar >

    <ion-row >
      <ion-col class="ion-align-items-center menu" >
        <div >
          <ion-buttons slot="start" >
              <ion-back-button autoHide="false"></ion-back-button>
          </ion-buttons>
        </div >
      </ion-col >
      <ion-col class="ion-align-self-center titulo" >
          <div ><ion-title class="titulo2" ><b>Estadisticas</b></ion-title></div>
      </ion-col>
      <ion-col class="ion-align-self-center home" >
        <div  ><ion-icon name="home-outline" [routerLink]="['/home']" style="font-size: 30px;"></ion-icon></div>
      </ion-col>
    </ion-row>

  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Entrenador</ion-card-subtitle>
    </ion-card-header>

    
      <div class="cont">
        
        <div class="cont1">
          <div class="logo">
            <ion-icon name="person-circle-sharp"></ion-icon>
          </div>
        </div>

        <div class="cont2">
          <div class="caja1">
            <div class="caja1a">
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="3">
                    <div><ion-icon name="podium-outline"></ion-icon></div>
                  </ion-col>
                  <ion-col size="9">
                    <div><p>Clientes Contactando</p></div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

            <div class="caja1b">
              <div class="text">
                <p><b>10</b></p>
              </div>
            </div>
          </div> 

          <div class="caja1">
            <div class="caja1a">
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="3">
                    <div><ion-icon name="checkbox-outline"></ion-icon></div>
                  </ion-col>
                  <ion-col size="9">
                    <div><p>Número de clasas dadas</p></div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

            <div class="caja1b">
              <div class="text">
                <p><b>82</b></p>
              </div>
              
            </div>
          </div> 

          <div class="caja1">
            
            <div class="caja1a">
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="3">
                    <div><ion-icon name="trophy-outline"></ion-icon></div>
                  </ion-col>
                  <ion-col size="9">
                    <div><p>Calificación</p></div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

            <div class="caja1b">
              <div class="text">
                <p><b>4.6</b></p>
              </div>
            </div>

          </div> 
        </div>

        
          
          
          
      </div>

      
  </ion-card>
</ion-content>
