
<ion-header class="ion-no-border">

  <ion-toolbar >

    <ion-row >
      <ion-col class="ion-align-items-center menu" >
        <div >
          <ion-buttons slot="start" >
              <ion-back-button autoHide="false"></ion-back-button>
          </ion-buttons>
        </div >
      </ion-col >
      <ion-col class="ion-align-self-center titulo" >
          <div ><ion-title class="titulo2" ><b>Rutinas</b></ion-title></div>
      </ion-col>
      <ion-col class="ion-align-self-center home" >
        <div  ><ion-icon name="home-outline" [routerLink]="['/home']" style="font-size: 30px;"></ion-icon></div>
      </ion-col>
    </ion-row>

  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-card>
    <div class="cont">

      <div class="cont1">

        <div class="fecha">
          <p>Fecha:</p>
        </div>

        <div class="lat">
          
          
          <div class="lat1">

              <div class="rect1">
                <p>20/02/2022</p>
              </div>
    
              <div class="rect2">
                <p>V</p>
              </div>
          
          </div>

          <div class="lat2">
            <p><b>Ana María Arias</b></p>
          </div>

        </div>
      </div>

      <div class="cont2">
        <table class="default">

          <tr>
        
            <th>Dia 1</th>
        
            <th>Rutina</th>
        
          </tr>
        
          <tr>
        
            <td>Sentadilla</td>
        
            <td>4 series de 20 reps</td>
        
          </tr>
        
          <tr>
        
            <td>Peso Muerto</td>
        
            <td>4 series de 20 reps</td>
        
          </tr>
        
          <tr>
        
            <td>Hip thrust</td>
        
            <td>4 series de 15 reps</td>
        
          </tr>

          <tr>
        
            <td>Tijera</td>
        
            <td>4 series de 20 reps</td>
        
          </tr>
        </table>
      </div>
    </div>

    <div class="cont">

      <div class="cont1">

        <div class="fecha">
          <p>Fecha:</p>
        </div>

        <div class="lat">
          
          
          <div class="lat1">

              <div class="rect1">
                <p>24/02/2022</p>
              </div>
    
              <div class="rect2">
                <p>V</p>
              </div>
          
          </div>

          <div class="lat2">
            <p><b>Pedro Ramirez</b></p>
          </div>

        </div>
      </div>

      <div class="cont2">
        <table class="default">

          <tr>
        
            <th>Dia 1</th>
        
            <th>Rutina</th>
        
          </tr>
        
          <tr>
        
            <td>Sentadilla</td>
        
            <td>4 series de 20 reps</td>
        
          </tr>
        
          <tr>
        
            <td>Peso Muerto</td>
        
            <td>4 series de 20 reps</td>
        
          </tr>
        
          <tr>
        
            <td>Hip thrust</td>
        
            <td>4 series de 15 reps</td>
        
          </tr>

          <tr>
        
            <td>Tijera</td>
        
            <td>4 series de 20 reps</td>
        
          </tr>
        </table>
      </div>
    </div>
  </ion-card>
</ion-content>
