*{
    font-family: “Roboto”;
}
ion-header{
background-color: white;
margin: auto;
}
ion-card-subtitle{
    text-align: center;
    font-size: 14px;
}
ion-toolbar{
    width: 70%;margin-top:40px ; margin-left: auto;margin-right: auto;
    ion-row{
        box-shadow: 0 3px #187464;
        background-color: #29A18D;border-radius: 1em;height: 50px;
      }
}

ion-card{
    box-shadow: none;
  }
.menu{
width: 20%;
color: white;
}

.titulo{
    border-right: solid white 1px;
    border-left: solid white 1px;
  }
.titulo2{
font-size: 15px;
}
.home{
width: 20%;
color: white;
}
ion-title{
color: white;
font-family: 'Times New Roman', Times, serif;
}
.cont1{
    display: flex;
    flex-direction: column;
}
.lat{
    display: flex;
    flex-direction: row;
}
.lat1{
    display: flex;
    flex-direction: row;
    // border: solid black 1px;
    margin: auto;
    width: 50%;
    
}
.lat2{
    margin: auto;
    width: 50%;
    color: black;
}

.rect1{
    width: 70%;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    background: #FFFFFF;
    border: 1px solid #29A18D;
    padding: 5px;
    display: flex;
    color: black;
    align-items: center;
    p{
        text-align: center;
    }
    
}
.rect2{
    width: 25%;
    height: 40px;
    background-color:  #29A18D;
    color: black;
    border-radius: 0px 10px 10px 0px;
    p{
        text-align: center;
    }
}
.fecha{
    color: black;
}
table {
    margin: 20px 0;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-family: “Roboto”;
    
    width: 100%;
  }
  
  td, th {
    border: 1px solid #29A18D;
    text-align: left;
    padding: 8px;
  }
  tr{
    color: black;
    
    th{
        background-color: #29A18D;
        color: #FFFFFF;
        text-align: center;
    }    
    tr:nth-child(even) {
       background-color: #dddddd;
    }
}