
<ion-header >

  <ion-toolbar >

    <ion-row >
      <ion-col class="ion-align-items-center menu" >
        <div >
          <ion-buttons slot="start" >
              <ion-back-button autoHide="false"></ion-back-button>
          </ion-buttons>
        </div >
      </ion-col >
      <ion-col class="ion-align-self-center titulo" >
          <div ><ion-title class="titulo2" ><b>Chat</b></ion-title></div>
      </ion-col>
      <ion-col class="ion-align-self-center home" >
        <div  ><ion-icon name="home-outline" [routerLink]="['/home']" style="font-size: 30px;"></ion-icon></div>
      </ion-col>
    </ion-row>

  </ion-toolbar>

</ion-header>


<ion-content>

</ion-content>
