
<ion-header class="ion-no-border">

  <ion-toolbar >

    <ion-row >
      <ion-col class="ion-align-items-center menu" >
        <div >
          <ion-buttons slot="start" >
              <ion-back-button autoHide="false"></ion-back-button>
          </ion-buttons>
        </div >
      </ion-col >
      <ion-col class="ion-align-self-center titulo" >
          <div ><ion-title class="titulo2" ><b>Chat</b></ion-title></div>
      </ion-col>
      <ion-col class="ion-align-self-center home" >
        <div  ><ion-icon name="home-outline" [routerLink]="['/home']" style="font-size: 30px;"></ion-icon></div>
      </ion-col>
    </ion-row>

  </ion-toolbar>

</ion-header>


<ion-content>
  <div class="cont" >
    <div class="cont1" [routerLink]="['/chat2']">
      <div class="lat1">
        <ion-avatar>
          <img src="../../assets/icon/user1.png">
        </ion-avatar>
      </div>

      <div class="lat2">
        <p class="p1"><b>Ana María Suarez</b></p>
        <p class="p2">Tengo algunas .....</p>
      </div>

      <div class="lat3">

        <ion-avatar>
          <ion-icon name="radio-button-on-outline"></ion-icon>
        </ion-avatar>
        
      </div>

    </div>

    <div class="cont1">
      <div class="lat1">
        <ion-avatar>
          <img src="../../assets/icon/user1.png">
        </ion-avatar>
      </div>

      <div class="lat2">
        <p class="p1"><b>Juan Rodríguez</b></p>
        <p class="p2">Disculpa, tengo una....</p>
      </div>

      <div class="lat3">

        <ion-avatar>
          <ion-icon name="radio-button-on-outline"></ion-icon>
        </ion-avatar>
        
      </div>
    </div>

    <div class="cont1">
      <div class="lat1">
        <ion-avatar>
          <img src="../../assets/icon/user1.png">
        </ion-avatar>
      </div>

      <div class="lat2">
        <p class="p1"><b>Angélica López</b></p>
        <p class="p2">Hola</p>
      </div>

      <div class="lat3">

        <ion-avatar>
          <ion-icon name="radio-button-on-outline"></ion-icon>
        </ion-avatar>
        
      </div>
    </div>

    <div class="cont1">
      <div class="lat1">
        <ion-avatar>
          <img src="../../assets/icon/user1.png">
        </ion-avatar>
      </div>

      <div class="lat2">
        <p class="p1"><b>Juliana Perez</b></p>
        <p class="p2">Hola</p>
      </div>

      <div class="lat3">

        <ion-avatar>
          <ion-icon name="radio-button-on-outline"></ion-icon>
        </ion-avatar>
        
      </div>
    </div>
  </div>
  <div class="healthy">
    <img class="healthy_img" src="../../assets/icon/healthy.png" >
  </div>
</ion-content>
