  *{
    font-family: “Roboto”;
  }
  ion-header{
    background-color: white;
    margin: auto;
    
  }
  ion-toolbar{
    width: 70%;margin-top:40px ; margin-left: auto;margin-right: auto;
    ion-row{
      box-shadow: 0 3px #187464;
      background-color: #29A18D;
      border-radius: 1em;
      height: 50px;
    }
  }
  ion-card{
    box-shadow: none;
    margin-left: 15px;
    box-shadow: 0 5px #187464;
    border-radius: 2em;
    
    ion-card-title{
      text-align: center;
      font-size: 20px;
      color: black;
      
    }
  }
  ion-row{
    
    
    .logo{
      
      padding: 15px;
    }
  }
  .menu{
    width: 20%;
    color: white;
    
    .back{
      width: 90%;
      margin: auto;
     
    }
    ion-back-button{
      text-align: center;
      margin-right: 10px;
      
    }
    
    
  }
  .titulo{
    border-right: solid white 1px;
    border-left: solid white 1px;
  }
  .titulo2{
    font-size: 15px;
  }
  .home{
    width: 20%;
    color: white;
    
    
    
  }
  ion-title{
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  .cont{
      display: flex;
      flex-direction: column;
      width: 100%;

  }
  .cont1{
      color: black;
      display: flex;
      flex-direction: column;
      .logo{
          text-align: center;
          ion-icon{
            color: gray;
            
            width: 100px;
            height: 100px;
          }
      }
      .text{
          text-align: center;
          font-size: 20px;
      }
  }
  .cont2{
      background: #29A18D;
      color: white;
      width: 100%;
      
      .linea{
        border-top: solid white 3px;
        width: 100%;
      }
      ion-col{
          p{
            font-size: 14px;
            font-family: 'Roboto', sans-serif;

          }
          ion-icon{
              font-size: 30px;
              
          }
      }
      h2{
          text-align: center;
          font-size: 18px;
      }
      .boton{
        text-align: center;
        .boton2 {
          display: inline-block;
          padding: 15px 25px;
          font-size: 16px;
          cursor: pointer;
          text-align: center;	
          text-decoration: none;
          outline: none;
          color: black;
          background-color: #fff;
          border: none;
          border-radius: 15px;
          margin-bottom: 20px;
          box-shadow: 0 5px #666;
        }
        .boton2:hover {
          border: solid black 1px;
        }
        
       }
  }
  