
<ion-header class="ion-no-border">

  <ion-toolbar >

    <ion-row >
      <ion-col class="ion-align-items-center menu" >
        <div class="back">
          <ion-buttons >
            <ion-back-button autoHide="false" ></ion-back-button>
          </ion-buttons>
          
          
        </div >
      </ion-col >
      <ion-col class="ion-align-self-center titulo" >
          <div ><ion-title class="titulo2" ><b>Cuenta</b></ion-title></div>
      </ion-col>
      <ion-col class="ion-align-self-center home" >
        <div  ><ion-icon name="home-outline" [routerLink]="['/home']" style="font-size: 30px;"></ion-icon></div>
      </ion-col>
    </ion-row>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Entrenador</ion-card-title>
    </ion-card-header>
  
    
      <div class="cont">
        <div class="cont1">
          <div class="logo">
            <ion-icon name="person-circle-sharp"></ion-icon>
          </div>
          <div class="text">
            <p>⭐⭐⭐⭐⭐</p>
            <p><i><b>4.6</b></i></p>
          </div>
        </div>

        <div class="cont2">
          <h2>Rodrigo Hernandez</h2>
          <div class="linea"></div>
          
          

          <ion-grid>
            <ion-row class="ion-align-items-center" >
              <ion-col size="3">
                <div ><ion-icon class="logo" slot="start" name="call-outline"></ion-icon></div>
              </ion-col>
              <ion-col size="9">
                <div><p>Contacto: 3152169864</p></div>
              </ion-col>
            </ion-row>
            
            <ion-row class="ion-align-items-center">
              <ion-col size="3">
                <div><ion-icon class="logo" slot="start" name="home-outline"></ion-icon></div>
              </ion-col>
              <ion-col size="9">
                <div><p>Dirección: Cra 8 # 27 - 01</p></div>
              </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-center">
              <ion-col size="3">
                <div><ion-icon class="logo" slot="start" name="mail-outline"></ion-icon></div>
              </ion-col>
              <ion-col size="9">
                <div><p>Correo: entrenaro@gmail.com</p></div>
              </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-center">
              <ion-col size="3">
                <div><ion-icon class="logo" slot="start" name="checkmark-done-outline"></ion-icon></div>
              </ion-col>
              <ion-col size="9">
                <div><p>Experiencia: 
                  1 año en 24/7.
                  6 meses en smartfit.</p></div>
              </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-center">
              <ion-col size="3">
                <div><ion-icon class="logo" slot="start" name="book-outline"></ion-icon></div>
              </ion-col>
              <ion-col size="9">
                <div><p>Estudios: Cultura y deporte.
                  Alimentación sana.</p></div>
              </ion-col>
            </ion-row>

          </ion-grid>
          
          <div class="boton">
            <button class="boton2"  color="light">Editar</button>
          </div>
          
        </div>

      </div>
      
    
  </ion-card>
</ion-content>