<ion-header *ngIf="show">
  <ion-toolbar>
    <ion-title>cerrar-sesion</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cont">
    <div class="cont_img">
      <img src="../../assets/icon/logout.png" alt="" class="img" >
    </div>

    <p>
      ¿Estás seguro que <br>
      deseas cerrar sesión?
    </p>

    <div class="boton">
      <ion-button fill="outline" color="dark" (click)="session()">Cancelar</ion-button>
      <ion-button fill="outline" color="success">Confirmar</ion-button>
    </div>
    <div class="healthy">
      <img class="healthy_img" src="../../assets/icon/healthy.png" >
    </div>
  </div>

  
</ion-content>
