*{
    font-family: “Roboto”;
}
.cont{
    width: 90%;
    margin: auto;
    text-align: center;
    transform: translateX(0%) translateY(50%);
}
.cont_img{
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    .img{
        background-color: #29A18D;
    }
}
.boton{
    margin: auto;
    height: 40px;
    margin-top: 30px;
}
ion-button{
    width: 120px;
    height: 40px;
    
}
.healthy{
  
    margin: auto;
    width: 120px;
    height: 30px;
    margin-top: 60px;
    // transform: translateX(0%) translateY(50%);
  }
  .healthy_img{
    width: 120px;
    height: 30px;
    
  }