
ion-header{
background-color: white;

}
ion-card-subtitle{
    text-align: center;
    font-size: 14px;
}
ion-toolbar{
width: 70%;margin-top:40px ; margin-left: auto;margin-right: auto;

}
ion-row{

background-color: #29A18D;border-radius: 1em;
}
.menu{
width: 20%;
color: white;
}
.titulo2{
font-size: 15px;
}
.home{
width: 20%;
color: white;
}
ion-title{
color: white;
font-family: 'Times New Roman', Times, serif;
}