*{
    font-family: “Roboto”;
  }
  ion-header{
    background-color: white;
    margin: auto;
    }
    ion-card-subtitle{
      text-align: center;
      font-size: 14px;
  }
  ion-toolbar{
    width: 70%;margin-top:40px ; margin-left: auto;margin-right: auto;
    ion-row{
      box-shadow: 0 3px #187464;
    background-color: #29A18D;border-radius: 1em;height: 50px;margin: auto;
    }
  }
  
  .menu{
  width: 20%;
  color: white;
  }
  
  .titulo{
      border-right: solid white 1px;
      border-left: solid white 1px;
    }
  .titulo2{
  font-size: 15px;
  }
  .home{
  width: 20%;
  color: white;
  }
  ion-title{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  }
  .cont{
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    width: 90%;
    margin: auto;
  }
  .cont1{
    width: 50%;
    height: 40px;
    margin: auto;
    border: solid black 1px;
  }
  .cont2{
    border: solid black 1px;
    display: flex;
    flex-direction: column;
  }
  .lat2{
    width: 70%;
    height: 40px;
    margin: auto;
    border: solid black 1px;
  }
  .boton{
    width: 80px;
    margin-right: 5px;
    height: 40px;
  }