*{
    font-family: “Roboto”;
}
ion-header{
background-color: white;
margin: auto;
}
ion-card-subtitle{
    text-align: center;
    font-size: 14px;
}
ion-toolbar{
    width: 70%;margin-top:40px ; margin-left: auto;margin-right: auto;
    ion-row{
        box-shadow: 0 3px #187464;
        background-color: #29A18D;border-radius: 1em;height: 50px;
    }
}
ion-card{
    color: black;
    
}
.menu{
width: 20%;
color: white;
}

.titulo{
    border-right: solid white 1px;
    border-left: solid white 1px;
  }
.titulo2{
font-size: 15px;
}
.home{
width: 20%;
color: white;
}
ion-title{
color: white;
font-family: 'Times New Roman', Times, serif;
}
.cont{
    display: flex;
    flex-direction: column;
    background-color: #FB924C;
    padding-bottom: 20px;
    
    h3{
        text-align: center;
    }
    .cont1{
        display: flex;
        flex-direction: row;
        border: solid gray 1px;
        background: #FFFFFF;
        
        border-radius: 10px;
        width: 90%;
        margin: auto;
        margin-top: 15px;
        
        box-shadow: 0 3px #666;

    }
    .lat1{
        display: flex;
        width: 25%;
        margin: auto;
        padding-left: 5px;
        ion-avatar{
            margin: auto;
            width: 45px;
            height: 45px;
            
        }
    }
    .lat2{
        display: flex;
        flex-direction: column;
        
        width: 75%;
        
        .text{
            display: flex;
            justify-content: space-evenly;
            top: 0;
            padding: 5px;
            font-size: 12px;
        }
        .c_boton{
            
            margin: auto;
            text-align: center;
        }
    }
}
.boton,.boton2 {
    display: inline-block;
    padding: 10px 10px;
    width: 90px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #29A18D;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0 3px #666;
    
  }
  .boton2{
      background: #94D0C6;
  }