
<ion-header class="ion-no-border">

  <ion-toolbar >

    <ion-row >
      <ion-col class="ion-align-items-center menu" >
        <div >
          <ion-buttons slot="start" >
          <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-buttons>
        </div >
      </ion-col >
        <ion-col class="ion-align-self-center titulo" >
          <div ><ion-title class="titulo2" ><b><i>Healthy</i></b></ion-title></div>
        </ion-col>
      <ion-col class="ion-align-self-center home" >
        <div  ><ion-icon name="person-outline" [routerLink]="['/cuenta']" style="font-size: 25px;"></ion-icon></div>
      </ion-col>
    </ion-row>

  </ion-toolbar>

</ion-header>

<ion-content >
  <div class="dibujo">
    <img src="../../assets/icon/instructor.png" alt="Instructor" class="dibujo_img">
  </div>
  
  <ion-card class="card">
    

    <div class="band">
      <button  color="dark" [routerLink]="['/bandeja-entrada']" class="butt" >Bandeja de Entrada</button>
    </div>

    
    
    <ion-card-content>
      
      <div class="caja">
        <p ><b>Estado Actual</b></p>
        <div class="disponible">
        
        <button size="small" class="bot" (click)="enableDisableRule(0)" [style.background-color]="toggle[0] ? '#FFFFFF' : '#29A18D'" fill="outline" color="dark">No Disponible</button>
        <button size="small"  class="bot"  (click)="enableDisableRule(1)" [style.background-color]="toggle[1] ? '#FFFFFF' : '#29A18D'" fill="outline" color="dark">Disponible</button>
          
        </div>
      </div>
    </ion-card-content>

    <div class="healthy">
      <img class="healthy_img" src="../../assets/icon/healthy.png" >
    </div>
  </ion-card>
</ion-content>


