
<ion-header >

  <ion-toolbar >

    <ion-row >
      <ion-col class="ion-align-items-center menu" >
        <div >
          <ion-buttons slot="start" >
          <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-buttons>
        </div >
      </ion-col >
        <ion-col class="ion-align-self-center titulo" >
          <div ><ion-title class="titulo2" ><b>Healthy</b></ion-title></div>
        </ion-col>
      <ion-col class="ion-align-self-center home" >
        <div  ><ion-icon name="person-outline" [routerLink]="['/cuenta']" style="font-size: 25px;"></ion-icon></div>
      </ion-col>
    </ion-row>

  </ion-toolbar>

</ion-header>

<ion-content >

  <ion-card class="card">
    <div class="band">
      <ion-button size="small" color="dark" [routerLink]="['/bandeja-entrada']" routerLinkActive="router-link-active" >Bandeja de Entrada</ion-button>
    </div>

    <div style="border-top: solid black 3px;"></div>
    
    <ion-card-content>
      <ion-item-divider >
        <ion-label>
        
        </ion-label>
      </ion-item-divider>
      <div class="caja">
        <p ><b>Estado Actual</b></p>
        <div class="disponible">
        
        <ion-button size="small" fill="outline" color="dark">No Disponible</ion-button>
        <ion-button size="small" fill="outline" color="dark">Disponible</ion-button>
          
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>


